@import "vendor/bootstrap.css";
.campo-data{
	width: 100px;
}
.float-right{
	float: right;
}
.margin-top{
	margin-top: 27px;
}
textarea { resize: vertical; }

ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

/*ul li { display: inline; }*/

.assignment-table{
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

.assignment-table-color{
  background-color: #ffffff;
}

div.post-it-frame {
  overflow: auto;
  height: 200px;
  padding: 10px;
  margin-bottom: 20px;
}

div.post-it-empty-frame {
  padding: 30px;
}

div.post-it {
  width: 160px;
  height: 160px;
  box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  margin: 8px;
  border: 1px solid rgba(0,0,0,.25);
  padding:0px 10px;
  font-size:15px;
  color: #000;
  background-color: #fefabc;
  display: inline-block;
  position: relative;
  line-height: 160px;
}

div:hover.post-it {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

span.post-it {
  display: inline-block;
  vertical-align: middle;

  line-height: normal;
}

.post-it-close
{
  display:block;
  position:absolute;
  top:-10px;
  right:-10px;
  width:27px;
  height:27px;
  background:url('../images/close-button.png') no-repeat center center;
}

.post-it-edit
{
  display:block;
  position:absolute;
  right:-5px;
  bottom:-5px;
  width:32px;
  height:32px;
  background:url('../images/edit-button.png') no-repeat center center;
  border: none;
}
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.grey-panel{
	background-color: #E1E1E1 !important/*/#F2F4F5 */;
	border-color: #E1E1E1 !important/*/#F2F4F5 */;
}

.red-border{
	border-color: #EE1C25 !important /*/#ED1C24/ #e94b3b/ */;
}

.black-border{
	border-color: #000000 !important;
}

.orange-title{
	border-color: #ED1C24 !important/ #e94b3b/ */;
}