<!-- START FOOTER -->
<div class="container-fluid container-fixed-lg footer" style="background-color: #3b3b3b; color: white;">
	<div class="copyright sm-text-center" style="margin-top: 8px;">
		<p class="small no-margin pull-left sm-pull-reset">
			<span class="hint-text">Sistema de Gerenciamento de Documentos base - Copyright @ 2015</span>
		</p>
	</div>
</div>
<!-- END FOOTER -->