<div class="modal fade" id="filtro-modal" ng-controller="FiltroListagemModalController">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Adicionar Filtro</h4>
			</div>
			<div class="modal-body">
				<form name="filtroForm">
					<div class="row">
						<div class="col-md-12">
							<label for="filtro-campo">Campo</label>
							<select name="tipo" ng-model="campo" ng-options="c as c.exibicao for c in camposDisponiveis()">
								<option value="">Selecione um campo</option>
							</select>
						</div>
					</div>
					<div class="row" ng-if="campo"><br></div>
					<div class="row" ng-show="isString() || isNumeric() || isDate()">
						<div ng-show="isString()">
							<div class="col-md-3">
								<input id="contem" type="radio" ng-model="textoContem" ng-value="1"> Contém</input>
							</div>
							<div class="col-md-3">
								<input id="comeca" type="radio" ng-model="textoContem" ng-value="2"> Começa com</input>
							</div>
							<div class="col-md-3">
								<input id="termina" type="radio" ng-model="textoContem" ng-value="3"> Termina com</input>
							</div>
						</div>
						<div ng-show="isNumeric()">
							<div class="col-md-3">
								<input id="menor" type="radio" ng-model="comparacaoNumerica" ng-value=1> Menor que</input>
							</div>
							<div class="col-md-3">
								<input id="igual" type="radio" ng-model="comparacaoNumerica" ng-value=2> Igual a</input>
							</div>
							<div class="col-md-3">
								<input id="maior" type="radio" ng-model="comparacaoNumerica" ng-value=3> Maior que</input>
							</div>
							<div class="col-md-3">
								<input id="diferente" type="radio" ng-model="comparacaoNumerica" ng-value=4> Diferente de</input>
							</div>
						</div>
						<div ng-show="isDate()">
							<div class="col-md-3">
								<input id="anterior" type="radio" ng-model="dataIgual" ng-value=1> Menor que</input>
							</div>
							<div class="col-md-3">
								<input id="mesma" type="radio" ng-model="dataIgual" ng-value=2> Igual a</input>
							</div>
							<div class="col-md-3">
								<input id="posterior" type="radio" ng-model="dataIgual" ng-value=3> Maior que</input>
							</div>
						</div>
					</div>
					<div class="row" ng-show="isString() || isNumeric()"><br></div>
					<div class="row" ng-show="isString() || isNumeric()">
						<div class="col-md-12">
							<label for="filtro-valor">Valor</label>
							<input name="filtro-valor" type="text" class="form-control" style="width: 241px; display: inline-block;" ng-model="valor"/>
						</div>
					</div>
					<div class="row" ng-show="isDate()"><br></div>
					<div class="row" ng-show="isDate()">
						<div class="col-md-12">
							<label for="dataFim">Data</label>
						    	<input width="10" type="text" id="dataSelecionada" name="dataSelecionada" datepicker-popup="dd/MM/yyyy"
									ng-model="dataSelecionada" is-open="openedDataSelecionada" close-text="Close" />
						    	<span>
						        	<button type="button" class="btn btn-default" ng-click="abrirDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						        </span>
						</div>
					</div>
					<div class="row" ng-show="isEnum()">
						<div class="col-md-12">
							<label for="project-tipo">{{campo.exibicao}}</label>
							<select id="project-tipo" name="tipo" ng-model="enumSelecionada" ng-options="e as e.value for e in opcoesEnum()">
								<option value="">Selecione a {{campo.exibicao}}</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-md-6">
						<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
					</div>
					<div class="col-md-6 pull-right">
						<button class="btn btn-red red-border" type="submit" ng-click="adicionar()">Adicionar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>