<label for="data">{{label}}</label>
<p class="input-group">
	<input type="text" id="data" name="{{fieldName}}" class="form-control"
		datepicker-popup="dd/MM/yyyy" ng-model="data"
		is-open="openedData" close-text="Close" ng-disabled="readOnly"
		/> <span class="input-group-btn p-t-25">
		<button type="button" class="btn btn-default"
			ng-click="openData($event)" ng-disabled="readOnly">
			<i class="glyphicon glyphicon-calendar"></i>
		</button>
	</span>
</p>