<div class="table-responsive">
	<table class="table table-hover">
		<tr>
	    	<th ng-repeat="campo in tableLabels">
		    	{{campo.exibicao}}
	    	</th>
	  	</tr>
		<tr ng-repeat="data in tableData">
	    	<td ng-repeat="campo in tableLabels">
	    		<div ng-if="campo.type === 'String' || campo.type === 'Integer' || campo.type === 'Double' || campo.type.substring(0, 4) == 'Enum' ">
			    	{{getField(data, campo.nome)}}
	    		</div>
	    		<div ng-if="campo.type === 'Date' ">
		    		{{getField(data, campo.nome) | date : 'dd/MM/yyyy'}}
	    		</div>
	    		<div ng-if="campo.type === 'Conditional' ">
		    		{{evaluate(data, campo.nome)}}
	    		</div>
	    		<div ng-if="campo.type === 'URL' ">
		    		<a ng-href="{{data[campo.nome]}}">{{data[campo.nome]}}</a>
	    		</div>
	    	</td>
		</tr>
	</table>
</div>