<div class="container-fluid" ng-controller="ModelListController">
	<div class="page-header">
  		<h1><font color="#e94b3b">{{pageTitle}}</font></h1>
	</div>
	<div class="panel panel-primary black-border">
		<div class="panel-heading grey-panel red-border">
			<div class="panel-title">
			</div>
			<componente-filtragem></componente-filtragem>
		</div>
		<div class="panel-body">
			<dsd-table  table-data="tableData" table-labels="camposListagem" keys="keys"
						read="read(data)" update="update(data)" remove="remove(data)">
			</dsd-table>
		</div>
		<div ng-show="tableData.length > 0">
			<botoes-paginacao></botoes-paginacao>
		</div>
	</div>
	<filtro-modal></filtro-modal>
</div>